<h2>Admin Enquiry List</h2>

<h3 (click)="notifyParent()">
  {{ pageTitle }}
</h3>

@if(selectedStatusId) {
<p>Current Filter Status ID: {{ selectedStatusId }}</p>
}

<label>Filter by Status</label>
<select title="filter" (change)="onStatusFilter($event)">
  <option value="">All</option>
  @for (s of statuses; track s.statusId) {
  <option [value]="s.statusId">{{ s.statusName }}</option>
  }
</select>

<table border="1" cellpadding="6">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>

  @for (e of enquiries; track e.enquiryId) {
  <tr>
    <td>{{ e.customerName }}</td>
    <td>{{ e.customerEmail }}</td>

    <td><button (click)="openEnquiry(e.enquiryId)">View</button></td>
  </tr>
  }
</table>

<router-outlet></router-outlet>
